/* CSS generelt */
body {
  background-color: #fce5cdff;
  font-family: "Bubbler One", Verdana;
  margin: 0 0 0 0;
}

h1 {
  padding-top: 30px;
  font-size: 48px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #b73d0f;
}

p {
  text-align: center;
  font-size: 19px;
  letter-spacing: 2px;
  color: #231f20;
  line-height: 28px;
}

/* CSS index.html*/
.index_content {
  width: 60%;
  margin: auto;
  position: relative;
}

#forsidebilde {
  width: 100%;
}

.index_start_img {
  position: relative;
  width: 100%;
}

.index_start_img_content { /* MÅ FÅ TIL SLIK AT DENNE BLIR MINDRE MED NETTLESEREN*/
  position: absolute;
  top: 45%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  border: 0.2rem solid #b73d0f;
  background: rgba(252, 229, 205, 0.6);
  text-align: center;
}

#make_a_booking_link {
  color: #b73d0f;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 100px;
  text-decoration: none;
}

/* Skal vi ha dette med?
h1::after {
  left: 5%;
}

h1::before {
  right: 5%;
}

h1::after, h1::before {
  content: " ";
  position: absolute;
  height: 0.15rem;
  width: 20%;
  top: 3.5%;
  background-color: #b73d0f;
} */


.index_row_img {
  display: flex;
}

.index_column_img {
  flex: 50%;
  padding: 10px;
}

/* CSS booking.html*/
.booking-form label {
    display: block;
    font-size: 20px;
}
.booking-form input, select, textarea {
  border: 1px solid #999;
  border-radius: 10px;
  padding: 0.6em;
  font-family: "Bubbler One";
  font-size: 20px;
}
.booking-form {
  text-align: center;
  margin: auto;
  position: relative;
}
.first-row-booking, .second-row-booking {
  display: inline-block;
  padding: 80px;
  position: relative;
}

/* CSS footer*/
.footer_info > ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  margin: 0 10% 0 10%;
  font-size: 19px;
  text-transform: uppercase;
}

.footer {
  margin: 3% 7% 1% 7%;
  border-top: 1.5px solid black;

}

.footer_social > ul {
  list-style: none;
  display: flex;
}
footer {
  position: fixed;
  bottom:0;
}

/* CSS navbar */
#navbar {
  background-color: #fce5cdff;
  /*border-bottom: 1.5px solid black;*/
  display: flex;
  position: fixed;
  margin: 0 0 0 0;
  top: 0;
  width: 100%;
  justify-content: center;
  left: 0;
}

#navbar a {
  color: #231f20;
  text-decoration: none;
  font-size: 48px;
  text-transform: uppercase;
  padding: 10px 20px 0px 20px;
}

#navbar a:not(:first-child) {
  padding-top: 3%;
}


#navbar a:hover:not(:first-child) {
  font-size: 50px;
}

#logo {
  max-width: 100px;
  max-height: 100px;
}
/* Arnstein */

#menuContainer{
  position: relative;
  display:inline-block;
  width:90%;
  left:5%;
  right:5%;



}

#menuRow1{
  display:inline-block;
  width:30%;
  min-height: 200px;
  float: left;



}

#menuRow2{
  display:inline-block;
  width:30%;
  min-height: 200px;
  margin-left: 5%;
  margin-right: 5%;

}
#menuRow3{
  display:inline-block;
  width:30%;
  min-height: 200px;
  float:right;


}


.foodDish {
  border: 2px black solid;
  min-height: 400px;
  margin-top:5%;
  background-color: #f4b171;
}

.foodDish:hover{
  background-color: #f6c9a2;
}





.title{
  display: inline-block;
  font-family: "Bubbler One";
  letter-spacing: 2px;

}
h2.title{
  display: inline-block;
}

.price{
  position: relative;
  display: block;
  text-align: left;
  font-size: 20px;
  margin-top: 0%;
  color:#ff3300;
}

.bestillButton {
  font-size: 20px;


}

.description{
  display:block;
  position:relative;
  text-align: left;
  font-size: 20px;
  width:100%;


}
#bestillingsOverskrift{
  position:relative;
}



.chilli{
  float:right;
  position: relative;
  display: inline-block;
  height:7%;
  width:7%;
}



.reveal{

  display: inline-block;
  background-color: #ca422d;
  border: 1px solid #999;
  border-radius: 10px;
  padding: 0.6em;
  font-family: "Bubbler One";
  font-size: 12px;
  margin-left: 20%;

}


.orderInput{
  position: relative;
  display: inline-block;
  margin-top: 7%;
  float:right;


}



  /*inline */


/*
menuContainer{
  position: relative;
  width:100%;
  height:70%;
  left:5%;



}

.menuRow1{
  display:inline-block;
  width:45%;
  border:1px #ccc solid;
  background-color: red; */

#orderRow {
  position: relative;
  display: inline-block;
  min-height:70%;
  left:30%;
  width:80%;
  left:19.5%;


}

#cartInfoContainer{
  display:inline-block;
  width:35%;
  border:1px #ccc solid;
  background-color: #fff280;
  min-height: 269px;
  float:left;
  text-align: right;

}

#cartInfo{
  display: inline-block;
  margin-top: 2%;



}

#totalSum{
  text-align: right;

}

#personalInfoContainer {

  min-height: 269px;
  display:inline-block;
  width:35%;
  border:1px #ccc solid;
  background-color: #ffb594;
  margin-left: 0.5%;
  text-align: left;


}

#personalInfo{
  display: inline-block;
  margin-top: 2%;
  margin-left: 1%;
  min-height: 50%;
}






#orderList{
  list-style-type: none;
  font-style: "Bubbler One";
}

#orderbtns {
  position: relative;
  left:40%;
  width:15%;
  text-align: center;
  vertical-align: center;
  margin-top:0%;
  margin-bottom:0%;
  background-color: #ca422d;
  border: 1px solid #999;
  border-radius: 10px;
  padding: 0.6em;
  font-family: "Bubbler One";
  font-size: 20px;

}

#confirmationText {
  text-align: left;
}

#row1-1{

}
#row1-2{

}
#row1-3{

}

.menuPic {
  position:relative;
  display: block;
  left:20%;
  right:20%;
  width:60%;
  overflow: hidden;
}


/* Arnsstein */
