body {
<<<<<<< HEAD
  width: 68%;
  margin: auto;
  background-color: #fce5cdff;
}

p {
  font-family: Verdana;
  text-align: center;
=======
  background-color: #fce5cdff;
  width: 80%;
>>>>>>> 9b47012e71335746ce73bbc3003154919cfa74c4
}
